
.verdict {
	border-radius: 10px;
	padding: 4px 10px;
	font-size: 130%;
	display: inline-block;
	color: white;
	text-transform: uppercase;
}
#overall-scores .verdict {
	border-radius: 0;
	padding: 15px;
	font-size: 250%;
}
.verdict-a {
	background-color: #71CF64;
}
#overall-scores .verdict-a {
	box-shadow: 0 0 6px 4px rgba(0, 150, 0, 0.2);
}
.verdict-b {
	background-color: #8EC087;
}
#overall-scores .verdict-b {
	box-shadow: 0 0 6px 4px rgba(42, 87, 42, 0.2);
}
.verdict-c {
	background-color: #E0AF46;
}
#overall-scores .verdict-c {
	box-shadow: 0 0 6px 4px rgba(212, 157, 13, 0.3);
}
.verdict-d {
	background-color: #D55434;
}
#overall-scores .verdict-d {
	box-shadow: 0 0 6px 4px rgba(112, 21, 21, 0.2);
}
.verdict-e {
	background-color: red;
}
#overall-scores .verdict-e {
	box-shadow: 0 0 6px 4px rgba(255, 0, 0, 0.3);
}

.info-button {
	margin-left: 10px;
}

.test .input .checkbox {
	margin-top: 0;
	margin-bottom: 3px;
}

.result-info {
	margin: 0 0 30px 0;
	font-size: 90%;
	font-weight: bold;
}

#scoring-form > div:not(.result-info) {
	margin-bottom: 15px;
}

#overall-scores .panel {
	text-align: center;
}
