
.verdict {
	border-radius: 3px;
	padding: 4px 10px;
	font-size: 150%;
	display: inline-block;
	color: white;
	min-width: 85px;
}
.verdict > i {
	font-family: FontAwesome;
	display: inline-block;
	width: 25px;
	font-style: normal;
}
.verdict-good {
	background-color: #71CF64;
}
.verdict-good i:before {
	content: "\F00C";
}
.verdict-neutral {
	background-color: #999;
}
.verdict-neutral i:before {
	content: "\F00C";
}
.verdict-bad {
	background-color: #DA0000;
}
.verdict-bad i:before {
	content: "\F071";
}

.result-info {
	display: none;
}


#scoring-form > div {
	margin-bottom: 15px;
}
